* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: HelveticaNow,Helvetica,sans-serif;
}

$primary-color: #66676e;
$secondary-color: #6328e0;
$icon-color: #ff6900;
$navborder-color: #d0d1d3;
$login-color: #1a1a1a;